.pays__boutons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 2rem auto;
  padding: 0 1rem;
  max-width: 900px;

  button {
    background-color: #FFCA28;
    color: #4f3200;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);

    &:hover {
      background-color: darken(#FFCA28, 10%);
      transform: scale(1.05);
    }

    &.active {
      background-color: #4f3200;
      color: #fff;
    }
  }
}


.page-pays {
  background-color: #fff5e1;

  &__restapi {
    background-color: #d0f2d4;
    padding: 4rem 2rem;
  }

  &__intro {
    padding: 4rem 2rem;
    max-width: 900px;
    margin: auto;
  }

  &__galerie {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
    justify-items: center;

    figure {
      width: 150px;
      height: 100px;
      overflow: hidden;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        transition: transform 0.3s ease-in-out;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}
