.global {
    margin: 0;
    max-width: 1000px;
    width: 100%;
    font-family: "Montserrat", serif;
}

.hero {
    display: flex;
    justify-content: flex-start;
    min-height: 100vh;
    background-image: url("images/maldives.jpg");
    z-index: 100;
    padding-top: 100px;
    padding-left: 60px;
}

.hero__contenu {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 600px;
}

.hero__bouton {
    padding: 10px 15px;
    font-size: 1rem;
    background-color: #5da5f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 18%;
    min-width: 120px;
    box-sizing: border-box;
    height: 40px;
    margin-top: 20px;
}

.hero__icone-app {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}
