.boutons-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
  list-style: none;
  justify-content: center;
  margin-bottom: 2rem;

  .bouton-categorie {
    background-color: #4f3200;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: all 0.3s ease;
    cursor: pointer;

    a {
      color: white;
      text-decoration: none;
    }

    &:hover {
      background-color: #be6602;
      transform: scale(1.05);
    }
  }
}
