.carte {
  padding: 50px;
  border-radius: 8px;


  &__image img {
    width: 130%;  /* L'image prend toute la largeur de son conteneur */
    height: 190px; /* Hauteur fixe pour toutes les images */
    object-fit: cover; /* Assure que l'image couvre entièrement le conteneur sans déformation */
    border-radius: 3px;
  }

  &__contenu {
    margin-top: 15px;
  }

  &__titre {
    font-size: 24px;
    color: #333;
  }

  &__description {
    font-size: 16px;
    color: #666;
  }

  &__bouton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &--actif {
      background-color: #0056b3;
    }

    &:hover {
      background-color: #0056b3;
    }
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);  /* 5 colonnes */
  }

  /* Ajustement pour les petits écrans */
  @media screen and (max-width: 768px) {
    &__images {
      grid-template-columns: repeat(2, 1fr); /* 2 colonnes sur mobile */
      
    }
  }
}

